---
layout: default
title: About Me
---

<div class="flex flex-col items-center text-lg">
    {% if author.avatar %}
    <a href="{{ author.homepage | url }}" target="_blank" rel="noopener">
        <img class="w-32 h-32 md:w-40 md:h-40 rounded-full" src="{{ author.avatar | url }}" width="128" height="128" alt="Author avatar">
    </a>
    {% endif %}
    <div class="text-center mt-8">
        <h1 class="text-2xl font-medium text-gray-800 leading-relaxed mt-0 mb-1">
            <a href="{{ author.homepage | url }}" target="_blank" rel="noopener">{{ author.name }}</a>
        </h1>
        {% if author.email %}
        <div class="text-gray-600">
            <a href="mailto:{{ author.email }}">{{ author.email }}</a>
        </div>
        {% endif %}
        {% if author.phone %}
        <div class="text-gray-600">
            <a href="tel:{{ author.phone }}">{{ author.phone }}</a>
        </div>
        {% endif %}
        {% if author.bio %}
        <p class="mt-3 text-gray-700">{{ author.bio }}</p>
        {% endif %}

        <h2 id="sources" class="text-2xl font-medium text-gray-800 leading-relaxed mt-10 mb-1 ">
            Data Sources
        </h2>
        <ul class="border-slate-400 border-solid border-2 p-4 mt-4">
          {% for item in sources %}
            <li class="list-item"><a href="{{ item.url | url }}" {% if item.newTab %}target="_blank" rel="noopener" {% endif %}class="block md:inline-block md:mt-0 font-medium text-gray-700 hover:text-teal-600 text-base mr-4">{{ item.label }}</a></li>
          {% else %}
            <p>No Sources configured</p>
          {% endfor %}
        </ul>

        <h2 id="sources" class="text-2xl font-medium text-gray-800 leading-relaxed mt-10 mb-1 ">
            Theme
        </h2>
        <p class="mt-3 text-gray-700"><a class="text-primary" href="https://github.com/dafiulh/vredeburg" target="_blank">Vredeburg</a>, by <a class="text-primary" href="https://daflh.com/" target="_blank">daflh</a></p>
    </div>
</div>
