---
permalink: "/manifest.json"
---
{
  "short_name": "Trivia Farm",
  "name": "Trivia Farm: Pick your favorite genre and find artists to test your music knowledge",
  "icons": [
    {
      "src": "assets/img/favicon.ico",
      "sizes": "64x64 32x32 24x24 16x16",
      "type": "image/x-icon"
    },
    {
      "src": "assets/img/trivia-farm-192.png",
      "type": "image/png",
      "sizes": "192x192",
      "purpose": "any maskable"
    },
    {
      "src": "assets/img/trivia-farm-512.png",
      "type": "image/png",
      "sizes": "512x512",
      "purpose": "any maskable"
    }
  ],
  "start_url": "/",
  "display": "standalone",
  "theme_color": "#581CF4",
  "background_color": "#ffffff"
}
