---
permalink: "/trivia.json"
---
[
    {% for post in collections.all %}
    {
        "url": "{{ post.url | url }}",
        "title": "{{ post.data.title }}",
        "deezer": "{{ post.data.thumb }}"
    }{% if not loop.last %},{% endif %}
    {% endfor %}
]
