{% metagen
  title=title,
  desc=description,
  url=canonical,
  img=site.url + featuredLocalImage,
  img_alt=title,
  twitter_card_type="summary_large_image",
  twitter_handle="jroakes",
  name="JR Oakes",
  comments=true
%}
